h1
{
  font-family: 'Bungee Shade';font-size: 60px;
  color: blue;
}

.center
{
  text-align: center;
}

.page-footer
{
  position: sticky;
  bottom: 0;
  background-color: lightgray;
}

.levelList
{
  margin: auto;
  width: 10%;
}
#hideImg{
  opacity: 0;
 filter: alpha(opacity=0);
}

#levelImg{
  background-image: url("/images/level1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#select1:hover ~ #levelImg{

      background-image: url("/images/purpleBot.jpeg");

}

* {
  box-sizing: border-box;
}

html, body {
  background-color: #fafafa;
}

.square-containermain {
  padding: 8px;
}
.square-containermain:after {
  content: "";
  clear: both;
  display: block;
}

.squaremain {
  width: calc(100% / 2);
  float: left;
  position: relative;
  padding-bottom: calc(100% / 2);
  position: relative;
  left: 25%;
}
.squaremain .contentmain {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  margin: 8px;
  padding: 16px;
  position: absolute;
  border-radius: 4px;
  background-image: url("/images/level1.png");
  background-size: contain;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}




.button {
  position: relative;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  left: 25%;
  cursor: pointer;
  border-radius: 8px;
  width: 50%;
}
